### Chi- Square Test

In [2]:
import scipy.stats as stats

In [3]:
import seaborn as sns
import pandas as pd
import numpy as np

C:\Users\rohit.pratapwar\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [4]:
df = sns.load_dataset("tips")

In [5]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
df_table = pd.crosstab(df['sex'],df['smoker'])
print(df_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [7]:
observed_values = df_table.values
print("observaed values :-\n",observed_values)

observaed values :-
 [[60 97]
 [33 54]]

In [8]:
val = stats.chi2_contingency(df_table)

In [9]:
val

(0.008763290531773594,
 0.925417020494423,
 1,
 array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [10]:
expected_value = val[3]

In [11]:
no_of_rows = len(df_table.iloc[0:2,0])
no_of_columns = len(df_table.iloc[0,0:2])
ddof = (no_of_rows-1) * (no_of_columns - 1)
print("Degree of Freedom:", ddof)
alpha = 0.05

Degree of Freedom: 1

In [12]:
from scipy.stats import chi2

In [13]:
chi_square = sum([(o-e) ** 2./e for o,e in zip(observed_values,expected_value)])
chi_square_statitics = chi_square[0] + chi_square[1]

In [14]:
print("Chi Square Statistics:", chi_square_statitics)

Chi Square Statistics: 0.001934818536627623

In [15]:
critical_value = chi2.ppf(q=1-alpha,df=ddof)
print("Critical_value", critical_value)

Critical_value 3.841458820694124

In [16]:
#p-value
p_value = 1- chi2.cdf(x=chi_square_statitics,df=ddof)
print("p-value:",p_value)
print("significant level:", alpha)
print("Degree of Freedom:", ddof)

p-value: 0.964915107315732
significant level: 0.05
Degree of Freedom: 1

In [17]:
if chi_square_statitics >= critical_value:
    print("Reject Null hypothesis, There is relationship between 2 categorical variables")
else:
    print("Retain Null hypothesis, There is no relationship between 2 categorical variables")

if p_value <= alpha:
    print("Reject Null hypothesis, There is relationship between 2 categorical variables")
else:
    print("Retain Null hypothesis, There is no relationship between 2 categorical variables")

Retain Null hypothesis, There is no relationship between 2 categorical variables
Retain Null hypothesis, There is no relationship between 2 categorical variables